asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
defusedxml
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
environ
gunicorn
idna
Markdown
MouseInfo
numpy
oauthlib
packaging
pillow
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
PyScreeze
python3-openid
pytweening
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
